<h1>Dónde Reciclo 3.0 Administración</h1>
<p>Bienvenidos a la página de administración de <a href="https://dondereciclo.uy">Dónde Reciclo</a></p>
<p>Para realizar cualquier acción en este sitio es imprescindible contar con una cuenta, para tales fines puede solicitarla a DATA Uruguay a nuestra <a href="mailto:devops@datauy.org">cuenta de desarrollo</a> </p>
<p>Si es un usuario autenticado sírvase entrar a través del siguiente link a la <a href="/user">Página de login</a></p>
