<h1>Nuevo contacto desde Donde Reciclo</h1>
<p>
  <%= @name %> ha enviado un mensaje desde la plataforma Donde Reciclo con el siguiente contenido:
</p>
<p>"<%= @body %>"</p>
<span>
  Sírvase contestar desde la plataforma para poder realizar el seguimiento. Por cualquier eventualidad le dejamos el correo de contacto: <%= @email %>
</span>

Muchas gracias, Equipo de DATA
