<%= @name %>,
  <p>Muchas gracias por usar ¿Donde Reciclo?<p>
  <p>Accediendo al siguiente link podrás ingresar tu nueva contraseña: <a href="https://dondereciclo.uy/usuario/password/<%= @token %>">https://dondereciclo.uy/usuario/password/<%= @token %></a></p>
  <p>Recuerda hacerlo en un plazo no mayor a 4 horas, una vez pasado este tiempo link anterior caducará y deberás volver a pedir el cambio de contraseña.</p>
<p>
  Muchas gracias, Equipo de DATA
</p>
<span>
  PD: Si no fue usted quien solicitó el cambio de contraseña puede ignorar el presente mail.
</span>
